// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #1c1c1c;
$primary2: #a3a3a3;
$secondary: #630031;
$secondary2: #3c0f38;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/* Then add additional custom code here */
.navbar-light .navbar-toggler {
    color: rgba($color: $primary2, $alpha: 0.55);
    border-color: rgba($color: $primary2, $alpha: 0.4);
} 

.home{
	background-image: url('../images/bg-home.jpg');
}

.marginMenu{
	margin-left: 10%;
}

/*----------------Imagenes Carrusel 1----------------------------*/

.carousel-inner {
	max-width: 35rem;
	margin: auto;
}

.relleno {
	padding-bottom: 1px;
}

/*-----------Carrusel 2------------------*/
.margen {
	margin: 60px 0px 80px 0px;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	margin: 0;
	padding: 0;
	width: auto;
}
#footer .connect {
	background-color: #a3a3a3;
	margin: 0;
	min-height: 84px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#footer .connect div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 24px 0 0;
}
#footer .connect div h1 {
	color: #FFFFFF;
	float: left;
	font-family: 'audiowide-regular-webfont';
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 8px 25px 0 0;
	text-align: right;
	text-transform: uppercase;
	width: 525px;
}
#footer .connect div div {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 0 0 20px;
	width: 380px;
}
#footer .connect div div a {
	background: url('../images/icons.png') no-repeat;
	display: block;
	float: left;
	height: 36px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 18px;
}
#footer .connect div div a.facebook {
	background-position: 0 0;
	margin: 0 0 0 16px;
	width: 18px;
}
#footer .connect div div a.twitter {
	background-position: 0 -114px;
	margin: 0 0 0 28px;
	width: 44px;
}
#footer .connect div div a.googleplus {
	background-position: 0 -38px;
	margin: 0 0 0 27px;
	width: 37px;
}
#footer .connect div div a.pinterest {
	background-position: 0 -76px;
	margin: 0 0 0 29px;
	width: 30px;
}
#footer .connect div div a.facebook:hover {
	background-position: -20px 0;
}
#footer .connect div div a.twitter:hover {
	background-position: -46px -114px;
}
#footer .connect div div a.googleplus:hover {
	background-position: -38px -38px;
}
#footer .connect div div a.pinterest:hover {
	background-position: -32px -76px;
}
#footer .footnote {
	background-color: #FFFFFF;
	margin: 0;
	min-height: 84px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#footer .footnote div {
	margin: 0 auto;
	overflow: hidden;
	padding: 34px 0 0;
	width: 960px;
}
#footer .footnote div p {
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 940px;
}
#wix {
	max-width: 728px;
	margin: 0 auto;
}
#wix a img {
	width: 100%;
}